<!-- 引入布局文件 -->
<layout name="layout"/>

<div class="main-div">
    <form action="__APP__/Category/edit" method="POST" name="main_form">
        <table width="100%" align="center" cellpadding="3" cellspacing="1">
            <tr>
                <td class="label">上级分类：</td>
                <td>
                    <select name="parent_id">
                        <option value="0">顶级分类</option>
                        <?php foreach($catData as $v){
                            if($v['id'] == $data['id'] || in_array($v['id'],$children)){
                                continue;
                            }
                            if($v['id'] ==$data['id']){
                                $select = 'selected=selected';
                            }else{
                                $select = '';
                            }
                        ?>
                        <option <?php echo $select; ?> value="<?php echo $v['id'];?>" >
                            <?php echo str_repeat('-',8*$v['level']).$v['cat_name']; ?>
                        </option>
                        <?php } ?>
                    </select>
                </td>
            </tr>
            <tr>
                <td>分类名称：</td>
                <td>
                    <input title="" name="cat_name" type="text" size="60" value="<?php echo $data['cat_name']?>"/>
                </td>
            </tr>
            <tr>
                <td colspan="99" align="center">
                    <input type="submit" value=" 确定 " class="button"/>
                    <input type="reset" value=" 重置 " class="button"/>
                </td>
            </tr>
        </table>
    </form>
</div>
